main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: #113f67;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.palindrome {
   width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    flex-direction: column;
}

.palindrome-text {
    color:  #113f67;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.palindrome-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #a2a8d3;
}
.palindrome-btn {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #a2a8d3;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
}
.palindrome-btn.active {
    opacity: 1;
    pointer-events: auto;
}

.results-div {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #113f67;
    text-align: center;
    padding-top: 30px;
}

.palindrome-definition-div {
    width: min(100vw, 450px);
    font-size: 1.3rem;
    min-height: 140px;
    background-color: #e7eaf6;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #113f67;
}

.palindrome-definition {
    vertical-align: middle;
    text-align: center;
}